.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.row {
    display: flex;
    gap: 10px;
}

.number {
    font-size: 40px;
    align-items: center;
}

.negative {
    color:#D40D25;
}

.positive {
    color: #0DB3D4;
}

.btn {
    padding: 15px 20px;
    margin: 5px;
    border-radius: 10px;
    border: none;
    color: #fff;
}

.btn:hover{
    cursor: pointer;
}

.btn-decrement {
    background-color: #D40D25;
}

.btn-increment {
    background-color: #0DB3D4;
}